<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi prodotto</h4>
    <button class="btn" (click)="activeModal.close()"><span>&times;</span></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" [formGroup]="newFoodstuffForm">
        <div class="mb-3 form-group required">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" required formControlName="name" />
        </div>
        <div class="mb-3 form-group">
            <label for="shortName" class="form-label">Nome breve</label>
            <input type="text" class="form-control" id="shortName" formControlName="shortName" />
        </div>
        <div class="mb-3 form-group">
            <label for="description" class="form-label">Descrizione</label>
            <input type="text" class="form-control" id="description" formControlName="description" />
        </div>
        <div class="mb-3 form-group required">
            <label for="price" class="form-label">Prezzo</label>
            <input type="number" class="form-control" id="price" required formControlName="price" />
        </div>
        <div class="mb-3 form-group required">
            <label for="foodstuffType" class="form-label">Tipologia</label>
            <div class="input-group">
                <select id="foodstuffType" class="form-control" required formControlName="foodstuffTypeId">
                    <option value="" disabled>Selezione la tipologia</option>
                    <option *ngFor="let foodstuffType of data.foodstuffTypes" [ngValue]="foodstuffType.id">{{ foodstuffType.name }}</option>
                </select>          
                <span class="input-group-btn">
                    <button class="btn btn-outline-success" (click)="addFoodstuffType()"><i class="fas fa-plus"></i></button>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-dark" (click)="saveFoodstuff()" [disabled]="!newFoodstuffForm.valid">
                <i class="fas fa-save"></i> Aggiungi prodotto
            </button>
        </div>
    </form>
</div>