<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Cliente</th>
        <th>Coperti</th>
        <th>Tavolo</th>
        <th>Cassiere</th>
        <th>Note</th>
        <th>Asporto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mario</td>
        <td>7</td>
        <td>9</td>
        <td>Cassiere 1</td>
        <td></td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkTakeAway1">
            <label class="form-check-label" for="checkTakeAway1">Asporto</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Mario</td>
        <td>7</td>
        <td>9</td>
        <td>Cassiere 1</td>
        <td></td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkTakeAway2">
            <label class="form-check-label" for="checkTakeAway2">Asporto</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Mario</td>
        <td>7</td>
        <td>9</td>
        <td>Cassiere 1</td>
        <td></td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkTakeAway3">
            <label class="form-check-label" for="checkTakeAway3">Asporto</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Mario</td>
        <td>7</td>
        <td>9</td>
        <td>Cassiere 1</td>
        <td></td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkTakeAway4">
            <label class="form-check-label" for="checkTakeAway4">Asporto</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
