<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div>
                <div class="form-group row mt-2">
                    <div class="col-md-2">
                        <label for="inputCustomer" class="control-label">Cliente</label>
                        <input type="text" class="form-control" id="inputCustomer" placeholder="Mario">
                    </div>
                    <div class="col-md-2">
                        <label for="inputPlaces" class="control-label">Coperti</label>
                        <input type="number" class="form-control" id="inputPlaces" placeholder="7">
                    </div>
                    <div class="col-md-2">
                        <label for="inputTableNumber" class="control-label">Tavolo</label>
                        <input type="number" class="form-control" id="inputTableNumber" placeholder="9">
                    </div>
                    <div class="col-md-2">
                        <label for="inputWaiter" class="control-label">Cassiere</label>
                        <input type="text" class="form-control" id="inputWaiter" placeholder="Cassiere 1">
                    </div>
                    <div class="col-md-2">
                        <label for="inputNotes" class="control-label">Note</label>
                        <textarea class="form-control" id="inputNotes" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkTakeAway">
                            <label class="form-check-label" for="checkTakeAway">Asporto</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>