<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" *ngIf="navbarVisibilityService.navbarIsVisible">
  <div class="container">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/new_order">Crea ordinazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/orders">Ordinazioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/stock">Listino</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/stats">Statistiche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/settings">Impostazioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">Informazioni</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">SagraManager© 2021 Matteo Gheza</p>

    <img class="additionalFooterContent" src="assets/logo.png" id="footerLogo">

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/settings">Impostazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">Informazioni</a>
      </li>
    </ul>
  </footer>
</div>