<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiunti tipologia</h4>
    <button class="btn" (click)="activeModal.close()"><span>&times;</span></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" [formGroup]="newFoodstuffTypeForm">
        <div class="mb-3 form-group required">
            <label for="name" class="form-label form-label-required">Nome</label>
            <input type="text" class="form-control" id="name" required formControlName="name" />
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-dark" (click)="saveFoodstuffType()" [disabled]="!newFoodstuffTypeForm.valid">
                <i class="fas fa-save"></i> Aggiunti tipologia
            </button>
        </div>
    </form>
</div>